################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
smart_parking_system\*
*.jpg
*.png
